# Ensure your Google Oauth key has the following scopes:
# - https://www.googleapis.com/auth/calendar.readonly
# - https://www.googleapis.com/auth/calendar
VITE_GOOGLE_CLIENT_ID=your_google_client_id
VITE_GOOGLE_CLIENT_SECRET=your_google_client_secret

# Set your start date to the day you begin collecting data in YYYY-MM-DD format
START_DATE=YYYY-MM-DD