*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.Rproj
Rplots.pdf
EDA
predictions
tuned_models
data
*__pycache__*
*.bak
raw.json
.Rproj.user
.env
cache*
.pytest_cache*
.ruff_cache*
recommendations.txt
recommendations.json