*.Rproj.user/
*.Rproj
*.Rhistory
*.RData
*.Ruserdata
Rplots.pdf
src/EDA/
src/predictions/
src/tuned_models/
src/data/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ruff_cache/
.env
*.bak
src/scripts/raw.json
src/scripts/recommender/recommendations.json
src/scripts/recommender/recommendations.txt
/scripts/